
{{> navBar}}
<div style="background: url(/imgs/bg-masthead.jpg)" class="page-holder bg-cover">

  <div class="container py-5">
    <header class="text-center text-black py-5">
      <h1 class="display-4 font-weight-bold mb-4">INBORTAL API CONTROL DE VENTAS</h1>
      {{!-- <p class="lead mb-0">Create a responsive full-page background image window using Bootstrap 4.</p>
      <p class="font-italic">Snippet By <a href="https://bootstrapious.com" class="text-white">
          <u>Bootstrapious</u></a>
      </p> --}}
    </header>

    <div class="text-black">
      <p class="lead">El papel es el protagonista de nuestras ideas, esbozos y sentimientos. En él inmortalizamos nuestra genialidad e inspiración. <br> Del amor por este invaluable instrumento nace INBORTAL, una marca que pone su mayor esfuerzo para que recibas en tus manos, un producto que hoja tras hoja, espera por ti y tu creatividad. Nosotros te damos las herramientas, ahora tú puedes hacer el resto…</p>
    
    </div>

  </div>
</div>