
{{#if errorMsg}}
<div class="alert alert-danger" role="alert">
    {{errorMsg}}
</div>
{{/if}}

{{#if errorSignUp}}
<div class="alert alert-danger" role="alert">
    {{errorSignUp}}
</div>
{{/if}}

{{#if errorPassempty}}
<div class="alert alert-danger" role="alert">
    {{errorPassempty}}
</div>
{{/if}}

